<br />
<div class="card">
  <div class="card-header">
    <h4 class="fw-bold">
      <a [routerLink]="['/vehiculos', vehiculo.id]">{{ vehiculo.tipo }}</a>
    </h4>
    <p class="text-muted">Mutricula: {{ vehiculo.matricula }}</p>
  </div>
  <div class="card-body">
    <p class="">Capacidad: {{ vehiculo.capacidad }}L</p>
    <p class="">Coste: {{ vehiculo.costo }}€</p>
    <p class="">Personal: {{ vehiculo.capacidad }} Trabajadores</p>
  </div>
  <div class="card-footer">
    <p class="">
      Disponiblidad: <span *ngIf="vehiculo.disponibilidad; else no"></span
      ><ng-template #no>No</ng-template> Disponible
    </p>
  </div>
</div>
